/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

.body {
    
    margin: 0;
    padding: 0;
    width: 100%;

}
*/*
.nav-bar {
    color: 1A1A1A;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;

}

*/*


header {
    border-bottom: 1px solid black;
    position: fixed;
    display: flex;

}


nav ul {
    list-style: none;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
}

#nav-logo {
    width: 190px;

}
.landing {

    background-image: url("../images/landing.jpg");
    width: fit-content;
    color: white;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
}



.benefits {
    display: flex;
    flex-direction: row;
    height: 500px;
    align-items: baseline;
    text-align: center;
    width: auto;


}


.benefits h2{
    color: #00B172;
}
.benefits img {
    width: 190px;
}

.green {
    background-color: #00B172;
    height: 500px;
    display: flex;
    flex-direction: row;
    color: #FFF;
    padding: 60px 60px 60px 60px;
    margin: 40px 40px 40px 40px;

}

#logocentral {
    height: 200px;

}

#kanye {
    float: right;
}